<div id="container" class="container_17">
<!-- ####################################################### Avatar and Name Box ########################################################################### -->
	<div id="firstSegment" class="grid_4">
		<div id="avatar" class="grid_8">
			<%= link_to image_tag("ahad_gravatar.png", size: "120x122",  alt: "Ahad Shafiq", :class => "img_preview"), 'http://ahadshafiq.com' %>
		</div>
		<div id="credentials" class="grid_8">
			<h3>Ahad Shafiq</h3>
			<br>
			<p>Telecom Engineer</p>
			<p>&amp;</p>
			<p>Software Developer</p>
		</div>
<!-- ####################################################### Social Media Icons ########################################################################### -->
		<div id="socialIcons" class="grid_17">
			<span id="icon1"><%= link_to image_tag("github.png", size: "28x29",  alt: "Ahad Shafiq Github Projects", :class => "img_preview"), 'http://github.com/ahadshafiq' %></span>	
			<%= link_to image_tag("linkedin.png", size: "28x29",  alt: "Ahad Shafiq Linkedin Profile", :class => "img_preview"), 'http://www.linkedin.com/pub/ahad-shafiq/29/551/b66' %>
			<%= link_to image_tag("twitter.png", size: "28x29",  alt: "Ahad Shafiq Twitter Profile", :class => "img_preview"), 'http://twitter.com/ahadsh' %>
		</div>
<!-- ########################################################  Work Exp Maps ############################################################################# -->
		<div id="internationalExp" class="grid_17">	
			<h2>International Exp</h2>
			<br>
				<div id="icon2" class="grid_4">
					<%= link_to image_tag("map.png", size: "50x50",  alt: "Riyadh, K.S.A", :class => "img_preview"), 'http://nokiasiemensnetworks.com' %>
				</div>
				<div id="icon" class="grid_4">
					<%= link_to image_tag("map.png", size: "50x50",  alt: "Vancouver, Canada", :class => "img_preview"), 'http://rsl.ubc.ca' %>
				</div>
				<div id="icon" class="grid_4">
					<%= link_to image_tag("map.png", size: "50x50",  alt: "Karachi, Pakistan", :class => "img_preview"), 'http://sanofi-aventis.com' %>
				</div>
				<div id="icon" class="grid_4">
					<%= link_to image_tag("map.png", size: "50x50",  alt: "Dubai, U.A.E", :class => "img_preview"), 'http://www.startconsult.ae' %>
				</div>
				<div id="icon3" class="grid_4">
					<p>Riyadh</p>
				</div>
				<div id="icon" class="grid_4">
					<p>Vancouver</p>
				</div>
				<div id="icon" class="grid_4">
					<p>Karachi</p>
				</div>
				<div id="icon" class="grid_4">
					<p>Dubai</p>
				</div>
		</div>
<!-- ########################################################  Quotes Rotator  ######################################################################### -->
		<div id="quotes" class="grid_17">	
			<h2>Quotes Rotator</h2>
			<br>
				<div id="icon" class="grid_4">
					<%= link_to image_tag("scott.png", size: "38x38",  alt: "Scott Hazlett Linkedin Recommendation", :class => "img_preview"), 'http://www.linkedin.com/pub/ahad-shafiq/29/551/b66' %>
				</div>
				<div id="icon" class="grid_13">
					<p id="quoteName">Scott Hazlett, Junior System Administrator at Coanda Research and Development</p>
				</div>
				<div class="grid_17">
					<p id="quoteName">"Ahad has a systematic approach to solving problems, and can show an uncanny ability to forecast risk. I found Ahad to be very clear, and was impressed with his technical work. His ever-cheery demeanor is always welcome."</p>
				</div>	
				<div id="icon" class="grid_4">
					<%= link_to image_tag("junartho.png",size:"38x38",alt:"Junartho Tambunan Linkedin Recommendation", :class => "img_preview"),'http://www.linkedin.com/pub/ahad-shafiq/29/551/b66' %>
				</div>	
				<div id="icon" class="grid_13">
					<p id="quoteName">Junartho Tambunan, RF Optimization at Nokia Siemens Networks</p>
				</div>
				<div class="grid_17">	
					<p id="quoteName">"An engineer with effective problem solving, rapid adaptation with new technologies. Able to adjust to any critical situation and good reporting to customer management level. Nice to know you Ahad"</p>
				</div>						
		</div>
	</div>
<!-- ########################################################  End of 1st Segment ######################################################################### -->		
<!-- ########################################################  New Major Div  ########################################################################## -->	
	<div id="secondSegment" class="grid_13">
	<h2>Showcase of Experience</h2>
	<br>
			
	</div>
<!-- ########################################################  End of 2nd Segment ######################################################################### -->		
<!-- ########################################################  New Major Div  ########################################################################## -->
	<div id="checkBoxSegment" class="grid_13">
	<h2>Meeting your Requirements</h2>
		<div id="firstBoxSet" class="grid_4 push_2">
            <input type="checkbox" id="c1" name="cc" />
            <label for="c1"><span></span>Check Box 1</label>
             <br>
            <input type="checkbox" id="c1" name="cc" />
            <label for="c1"><span></span>Check Box 1</label>
             <br>
            <input type="checkbox" id="c1" name="cc" />
            <label for="c1"><span></span>Check Box 1</label>
            <br>
            <input type="checkbox" id="c1" name="cc" />
            <label for="c1"><span></span>Check Box 1</label>
             <br>
            <input type="checkbox" id="c1" name="cc" />
            <label for="c1"><span></span>Check Box 1</label>
             <br>

		</div>
		<div id="secondBoxSet" class="grid_4 push_2">
        	<input type="checkbox" id="c2" name="cc" />
            <label for="c2"><span></span>Check Box 2</label>
             <br>
            <input type="checkbox" id="c1" name="cc" />
            <label for="c1"><span></span>Check Box 1</label>
             <br>
            <input type="checkbox" id="c2" name="cc" />
            <label for="c2"><span></span>Check Box 2</label>
             <br>
            <input type="checkbox" id="c1" name="cc" />
            <label for="c1"><span></span>Check Box 1</label>
             <br>
            <input type="checkbox" id="c2" name="cc" />
            <label for="c2"><span></span>Check Box 2</label>
		</div>
		<div id="thirdBoxSet" class="grid_4 push_2">
            <input type="checkbox" id="c2" name="cc" />
            <label for="c2"><span></span>Check Box 2</label>
             <br>
            <input type="checkbox" id="c1" name="cc" />
            <label for="c1"><span></span>Check Box 1</label>
             <br>
            <input type="checkbox" id="c2" name="cc" />
            <label for="c2"><span></span>Check Box 2</label>
             <br>
            <input type="checkbox" id="c1" name="cc" />
            <label for="c1"><span></span>Check Box 1</label>
             <br>
            <input type="checkbox" id="c2" name="cc" />
            <label for="c2"><span></span>Check Box 2</label>
		</div>
	</div>
<!-- ########################################################  End of 3rd Segment ######################################################################### -->		
<!-- ########################################################  New Major Div  ########################################################################## -->
	
	<div>
		<div id="chartSegment" class="grid_13">
		<h2>Skillset</h2>	
			<div id="firstChart" class="grid_4">
				<h3>Telecommunications</h3>
				<div class="record"><div class="bar" style="width:55%;"><span>Mozilla</span></div><div class="p"><span>55%</span></div></div>
				<div class="record"><div class="bar" style="width:30%;"><span>IE</span></div><div class="p"><span>30%</span></div></div>
				<div class="record"><div class="bar" style="width:22%;"><span>Safari</span></div><div class="p"><span>22%</span></div></div>
				<div class="record"><div class="bar" style="width:20%;"><span>Opera</span></div><div class="p"><span>20%</span></div></div>
			</div>
			<div id="secondChart" class="grid_4">
				<h3>Software Development</h3>
				<div class="record"><div class="bar" style="width:55%;"><span>Mozilla</span></div><div class="p"><span>55%</span></div></div>
				<div class="record"><div class="bar" style="width:30%;"><span>IE</span></div><div class="p"><span>30%</span></div></div>
				<div class="record"><div class="bar" style="width:22%;"><span>Safari</span></div><div class="p"><span>22%</span></div></div>
				<div class="record"><div class="bar" style="width:20%;"><span>Opera</span></div><div class="p"><span>20%</span></div></div>
			</div>
			<div id="thirdChart" class="grid_4">
				<h3>Soft Skills</h3>
				<div class="record"><div class="bar" style="width:55%;"><span>Mozilla</span></div><div class="p"><span>55%</span></div></div>
				<div class="record"><div class="bar" style="width:30%;"><span>IE</span></div><div class="p"><span>30%</span></div></div>
				<div class="record"><div class="bar" style="width:22%;"><span>Safari</span></div><div class="p"><span>22%</span></div></div>
				<div class="record"><div class="bar" style="width:20%;"><span>Opera</span></div><div class="p"><span>20%</span></div></div>
			</div>
		</div>
	</div>
</div>