<div id="container" class="container_17">
<!-- ####################################################### Avatar and Name Box ########################################################################### -->
	<div id="firstSegment" class="grid_4">
		<div id="avatar" class="grid_8">
			<%= link_to image_tag("ahad_gravatar.png", size: "120x122",  alt: "Ahad Shafiq", :class => "img_preview"), 'http://ahadshafiq.com' %>
		</div>
		<div id="credentials" class="grid_8">
			<h3>Ahad Shafiq</h3>
			<p>Telecom Engineer</p>
			<p>&amp;      Software Developer</p>
		</div>
<!-- ####################################################### Social Media Icons ########################################################################### -->
		<div id="socialIcons" class="grid_17">
			<span id="icon1"><%= link_to image_tag("github.png", size: "28x29",  alt: "Ahad Shafiq Github Projects", :class => "img_preview"), 'http://github.com/ahadshafiq' %></span>	
			<%= link_to image_tag("linkedin.png", size: "28x29",  alt: "Ahad Shafiq Linkedin Profile", :class => "img_preview"), 'http://www.linkedin.com/pub/ahad-shafiq/29/551/b66' %>
			<%= link_to image_tag("twitter.png", size: "28x29",  alt: "Ahad Shafiq Twitter Profile", :class => "img_preview"), 'http://twitter.com/ahadsh' %>
		</div>
<!-- ########################################################  Work Exp Maps ############################################################################# -->
		<div id="internationalExp" class="grid_17">	
			<h2>International Exp</h2>
				<div id="icon2" class="grid_4">
					<%= link_to image_tag("map.png", size: "50x50",  alt: "Riyadh, K.S.A", :class => "img_preview"), 'http://nokiasiemensnetworks.com' %>
				</div>
				<div id="icon" class="grid_4">
					<%= link_to image_tag("map.png", size: "50x50",  alt: "Vancouver, Canada", :class => "img_preview"), 'http://rsl.ubc.ca' %>
				</div>
				<div id="icon" class="grid_4">
					<%= link_to image_tag("map.png", size: "50x50",  alt: "Karachi, Pakistan", :class => "img_preview"), 'http://sanofi-aventis.com' %>
				</div>
				<div id="icon" class="grid_4">
					<%= link_to image_tag("map.png", size: "50x50",  alt: "Dubai, U.A.E", :class => "img_preview"), 'http://www.startconsult.ae' %>
				</div>
				<div id="icon3" class="grid_4">
					<p>Nokia Siemens Networks</p>
				</div>
				<div id="icon" class="grid_4">
					<p>Radio Science Lab</p>
				</div>
				<div id="icon" class="grid_4">
					<p>Sanofi-Aventis Pak</p>
				</div>
				<div id="icon" class="grid_4">
					<p>Start Consult Dubai</p>
				</div>
		</div>
<!-- ########################################################  Quotes Rotator  ######################################################################### -->
		<div id="quotes" class="grid_17">	
			<h2>Quotes Rotator</h2>
				<div id="icon" class="grid_4">
					<%= link_to image_tag("scott.png", size: "38x38",  alt: "Scott Hazlett Linkedin Recommendation", :class => "img_preview"), 'http://www.linkedin.com/pub/ahad-shafiq/29/551/b66' %>
				</div>
				<div id="icon" class="grid_13">
					<p id="quoteName">Scott Hazlett, Junior System Administrator at Coanda Research and Development</p>
				</div>
				<div class="grid_17">
					<p id="quoteName">"Ahad has a systematic approach to solving problems, and can show an uncanny ability to forecast risk. I found Ahad to be very clear, and was impressed with his technical work. His ever-cheery demeanor is always welcome."</p>
				</div>	
				<div id="icon" class="grid_4">
					<%= link_to image_tag("junartho.png",size:"38x38",alt:"Junartho Tambunan Linkedin Recommendation", :class => "img_preview"),'http://www.linkedin.com/pub/ahad-shafiq/29/551/b66' %>
				</div>	
				<div id="icon" class="grid_13">
					<p id="quoteName">Junartho Tambunan, RF Optimization at Nokia Siemens Networks</p>
				</div>
				<div class="grid_17">	
					<p id="quoteName">"An engineer with effective problem solving, rapid adaptation with new technologies. Able to adjust to any critical situation and good reporting to customer management level. Nice to know you Ahad"</p>
				</div>						
		</div>
	</div>
<!-- ########################################################  End of 1st Segment ######################################################################### -->		
<!-- ########################################################  New Major Div  ########################################################################## -->	
	<div id="secondSegment" class="grid_13">
		<h2>Showcase of relevant work experience</h2>
				<div id="" class="grid_17">
					<div class="container">
						<div class="main">
							<div class="main">
								<div id="cbp-contentslider" class="cbp-contentslider">
									<ul>
										<li id="slide1">
											<h3 class="icon-wolf">Wolf</h3>
											<div>
												<div class="cbp-content">
													<p>Veggies sunt bona vobis, proinde vos postulo esse magis desert raisin bush tomato soko salsify garbanzo horseradish cabbage burdock.</p>
													<p>Daikon artichoke gumbo azuki bean bok choy avocado winter purslane gram earthnut pea broccoli salsify squash plantain wattle seed wakame broccoli rabe bamboo shoot. Zucchini lotus root azuki bean epazote dulse pumpkin rutabaga spinach. Endive mung bean gumbo maize plantain rock melon.</p>
												</div>
											</div>
										</li>
										<li id="slide2">
											<h3 class="icon-rabbit">Rabbit</h3>
											<div>
												<div class="cbp-content">
													<p>Chicory collard greens tatsoi cress bamboo shoot broccoli rabe lotus root earthnut pea arugula okra welsh onion leek shallot courgette. Chard garlic fava bean pea sprouts gram spinach plantain tomatillo. Chicory garlic black-eyed pea gourd chickpea cucumber lotus root.</p>
													<p>Daikon artichoke gumbo azuki bean bok choy avocado winter purslane gram earthnut pea broccoli salsify squash plantain wattle seed wakame broccoli rabe bamboo shoot. Zucchini lotus root azuki bean epazote dulse pumpkin rutabaga spinach. Endive mung bean gumbo maize plantain rock melon.</p>
												</div>
											</div>
										</li>
										<li id="slide3">
											<h3 class="icon-aligator">Aligator</h3>
											<div>
												<div class="cbp-content">
													<p>Tomato shallot broccoli rabe aubergine melon fava bean soybean sorrel. Tomatillo plantain wattle seed pea ricebean sorrel fennel welsh onion kakadu plum celery. Arugula radicchio garlic welsh onion kale celtuce tomato fava bean beet greens soybean burdock groundnut lentil broccoli rabe.</p>
												</div>
											</div>
										</li>
										<li id="slide4">
											<h3 class="icon-turtle">Turtle</h3>
											<div>
												<div class="cbp-content">
													<p>Yarrow bush tomato beetroot taro water chestnut komatsuna azuki bean. Parsnip artichoke water chestnut caulie carrot grape summer purslane brussels sprout fava bean tomatillo pea groundnut nori earthnut pea tigernut. Tigernut brussels sprout wakame tomatillo radicchio carrot maize swiss chard seakale melon grape broccoli pea sprouts kakadu plum plantain cauliflower. Gram salsify radicchio daikon courgette rock melon bunya nuts turnip greens. Cabbage black-eyed pea spinach asparagus plantain cress soybean spring onion salad artichoke pea garlic silver beet grape water spinach zucchini wakame summer purslane.</p>
												</div>
											</div>
										</li>
										<li id="slide5">
											<h3 class="icon-platypus">Platypus</h3>
											<div>
												<div class="cbp-content">
													<p>Potato watercress burdock spinach quandong jícama chard pea sprouts garlic celery turnip daikon kale lotus root sorrel coriander rock melon cabbage. Epazote salsify lentil rock melon eggplant cauliflower zucchini caulie catsear broccoli rabe pumpkin lettuce okra green bean squash seakale onion water chestnut. Sweet pepper peanut corn soko celery winter purslane.</p>
													<p>Daikon artichoke gumbo azuki bean bok choy avocado winter purslane gram earthnut pea broccoli salsify squash plantain wattle seed wakame broccoli rabe bamboo shoot. Zucchini lotus root azuki bean epazote dulse pumpkin rutabaga spinach. Endive mung bean gumbo maize plantain rock melon.</p>
												</div>
											</div>
										</li>
									</ul>
									<nav>
										<a href="#slide1" class="icon-wolf"><span>NSN NPM</span></a>
										<a href="#slide2" class="icon-rabbit"><span>NSN RAN</span></a>
										<a href="#slide3" class="icon-aligator"><span>RSL RF</span></a>
										<a href="#slide4" class="icon-turtle"><span>RSL P&amp;C</span></a>
										<a href="#slide5" class="icon-platypus"><span>Personal</span></a>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
	</div>	
</div>