<!DOCTYPE html>
<html>
<head>
  <title>Ahad's Tantalus Application</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "component", :media => "all" %>
  <%= stylesheet_link_tag    "default", :media => "all" %>
  <%= stylesheet_link_tag    "grid", :media => "screen" %>
  <%= stylesheet_link_tag    "normalize", :media => "screen" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "application" %>
  		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
